* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

html {
    background-color: #5f45bb;
    background-image: linear-gradient(to bottom right,#212a3a 50%, #f66565);
    color: #fff;
    font-family: "Quicksand", sans-serif;
    font-size: 16px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    line-height: 1.5;
    min-height: 100vh;
    min-width: 300px;
    width: 100%;
    overflow-x: hidden;
    text-shadow: 0 3px 5px rgba(0,0,0,0.1);
}
  body {
    margin: 0;
    padding-top: 100px;
  }

  .main-side-margins {
    padding-left: 40px;
    padding-right: 40px;
  }

/* Header Section*/

  header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0,0,0,.2);
  }
  .logo {
    color: #1e90ff;
    font-size: 18px;
    text-shadow: 0 0 1px #222;
    text-decoration: none;
    position: relative;
    font-weight: 700;
  }
  .logo:hover {
    font-weight: 900;
  }
  .logo::before {
    content: "";

  }
  .logo::after {
    content: "";
  }
  nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  nav a {
    margin-left: 25px;
    color: #f66565;
    font-size: 18px;
    text-shadow: 0 0 1px #212a3a;
    text-decoration: none;
  }

 
  nav a:hover,
  .active {
    font-weight: 500;
    border-bottom: rgba(0,0,0,.2) .3px solid;
  }


  /* Footer Section */
  footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 40px 20px;
    background-color: rgba(0,0,0,0.1);
  }
  .address {
    text-align: center;
    flex: 10%;
  }
  .social-media {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .social-media i {
    margin-left: 20px;
    font-size: 24px;
    color: whitesmoke;
  }
  .social-media a {
    align-items: center;
    display: flex;
    font-size: 1.5rem;
    height: 2rem;
    justify-content: center;
    opacity: .5;
    transition-property: opacity, transform;
    width: 2rem;
    will-change: opacity, transform;
}
.social-media a:hover {
    opacity: 1;
    transform: scale(1.25);
}
.social-media a:active {
    opacity: 1;
    transform: scale(1.1);
}
  .quick-links {
    text-align: center;
    flex: 10%;
  }
  .quick-links a {
    margin-top: 20px;
    color: #000;
    text-decoration: none;
  }
  .map {
    width: 100%;
    height: 240px;
    flex: 30%;
  }